.ver{
    width: 100%;
    display: grid;
    place-items: center;
}
.verPropiedades{
    width: 90%;
}
.verProps{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.verText{
    font-size: 2rem;
    font-weight: bold;
}