.navBar{
    display: grid;
    grid-template-rows: 7rem 1fr;
    height: 100vh;
    width: 20rem;
    box-shadow: 16px 0px 26px 5px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
    left: 0;
    background-color: #6b9795;
}
.titleNav{
    font-size: 1.2rem;
    padding: 1rem;
}
.conteinerNav{
    width: 20rem !important;
}
.linkNav{
    height: 4rem;
    width: 20rem;
    border: 1px solid gray;
    display: grid;
    place-items: center;
    text-decoration: none;
    color: black;
}
.contNav{
    display: grid;
    
}
.btnAd{
    background-color: #a0ab94;
}