.navBar{
    display: grid;
    grid-template-rows: 7rem 1fr;
    height: 100vh;
    width: 20rem;
    box-shadow: 16px 0px 26px 5px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
    left: 0;
    background-color: #5AB2AE;
}
.titleNav{
    font-size: 1.2rem;
    padding: 1rem;
}
.conteinerNav{
    width: 20rem !important;
}
.linkNav{
    height: 4rem;
    width: 20rem;
    border: 1px solid gray;
    display: grid;
    place-items: center;
    text-decoration: none;
    color: black;
}
.contNav{
    display: grid;
    grid-template-columns: 0fr 1fr;
    padding: 1rem;
    align-items: center;
}
.btnAd{
    background-color: #a0ab94;
}

.dash{
    display: grid;
    grid-template-columns: 3rem 1fr;
    align-items: center;
    height: 3rem;
    padding: .5rem;
    cursor: pointer;
    border-radius: .2rem;
}

.icons{
    font-size: 2rem;
    color: white;
}
.navText{
    color: white;
    font-size: 1.5;
}
.dash:hover{
    background-color: white;
    transition: .3s;

}
.dash:hover .icons{
    color:#5AB2AE;
    transition: .3s;
}  
.dash:hover .navText{
    color:#5AB2AE;
    transition: .3s;
}    