.dTitle{
    font-size: 1.5rem;
}
.imgs{
    height: 3rem;
    width: 3rem;
}
.displayAdmin{
    display: grid;
    height: 15rem;
    place-items: center;
    border: 1px solid gray;
    border-radius: .5rem;
    width: 40rem;
    margin-top: 1rem;
    padding: 1rem;
}
.dWrapTitle{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}
.imgs{
    height: 7rem;
    width: 7em;
    object-fit: cover;
}
.dImages{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
.dTitles{
    display: grid;
    grid-template-rows: 1fr 3rem 1fr;
}
.dBtns{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
